body{
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

#tag{
  color: black !important;
  list-style: none;
  margin-left: -30px !important;
}

.messages{
  list-style: none;
}

.advert{
  height: 500px !important;
}

#embed{
  padding-left: 10px;
}

nav.inner{
    padding: 1em !important;
    /* background-color: #0b192f; */
}

.outer{

}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    margin: 0 !important;
}

.pagination > li > a
{
    background-color: #162b4d;
    color: white;
}

.pagination > .active > a
{
    color: white;
    background-color: #d12767 !Important;
    border: solid 1px white !Important;
}

#search-bar{
  background-color: #162b4d !Important;
}

div#search-div {
    float: right;
}

.navbar{
  display: inline-block !important;
}

div#search-div > form > button {
  color: white !important;
  border: solid 1px white !Important;
}

div#search-div > form > button:hover {
  background-color: #d12767 !important;
}
